DISCORD_TOKEN=wklej_tutaj_token_bota
OLLAMA_URL=http://localhost:11434/api/generate
OLLAMA_MODEL=qwen2.5:7b
OLLAMA_MODEL_MED=medgemma:4b
TMDB_API_KEY=wklej_tutaj_api_key_z_themoviedb_org
THREAD_TTL_MIN=60
AMBUSH_CHECK_INTERVAL_MS=300000
AMBUSH_CHANCE=0.25
